:root{
--line-color:black;
background-color: lightsteelblue;
font-family: 'Montserrat';
}
.heading{
    text-align: center;
}

.sketch-pad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    gap:10px;
}
.container{
    background-color: white;
    width: 750px;
    height:750px;
    display: grid;
    grid-template-columns: repeat(25, 30px);
    grid-template-rows: repeat(25, 30px);
    box-shadow: 3px 1px 2px lightgray;
}

.controls{
    display:flex;
    flex-direction: row;
    align-items: center;
gap:50px;}


.grid-item-hover{
    background-color: var(--line-color);
}

button {
    height: 35px;
    min-width: 80px;
}

#line-colour{
border-style: none;
}

/*body{
    cursor: url('clipart42077192.png'), pointer;
  
}*/